/*헤더*/
header{
    border-bottom: 1px solid #4f2987;
    font-family: 'Noto Sans KR', sans-serif;
    height: 135px;
    z-index: 9999;
    position: relative;
}
header.scroll{
    position: fixed;
    width: 100%;
    background: #fff;
    height: 72px;
}
header.scroll nav{
    display: none;
}
header.scroll .topside_wrap h1{
    margin-top: 0;
}
header.scroll .topside_wrap .search{
    margin-top: 5px;
}
header .inner{
    height: 100%;
    position: relative;
}
.topside_wrap{
    padding-top: 17px;
    position: relative;
}
.topside_wrap h1{
    float: left;
    margin-top: 13px;
}
.topside_wrap h1 a{
    display: block;
}

.topside_wrap .search{
    margin: 26px 0 0 128px;
}

.topside_wrap .search input{
    width: 515px;
    height: 40px;
    font-size: 18px;
    text-indent: 17px;
}
.topside_wrap .search input::placeholder{
    color: #c9c3c9;
}

.top_menu{
    position: absolute;
    right: 0;
    bottom: 15px;

}
.top_menu li{
    display: block;
    float: left;
    margin-right: 30px;
}
.top_menu li:last-child{
    margin-right: 0;
}
.top_menu li a{
    font-size: 14px;
    font-weight: 400;
}
.top_menu li a:hover{
    border-bottom: 1px solid #0b1117;
}
.hamburger_btn span{
    display: none;
}

/*nav 태크*/
nav{
    width: 100%;
    height: 38px;
    line-height: 38px;
    margin-top: 13px;
}
nav .main_manu{
    height: 100%;
    display: block;
}
nav .main_manu > li{
    font-weight: 700;
    float: left;
    width: auto !important;
    position: static;
}
nav .main_manu > li:nth-last-child(1), nav .main_manu > li:nth-last-child(2), nav .main_manu > li:nth-last-child(3) {
    float: right;
}

nav .main_manu > li> a{
    padding: 0 16px;
}

nav .sub_menu{
    position: absolute;
    display: none;
    overflow: hidden;
    background: #fff;
    border: 1px solid #4f2987;
}
nav .sub_menu .sec_depth{
    float: left;
    text-align: center;
    width: auto;
    margin: 0 5px;
    font-weight: 500;
}
nav .sub_menu .sec_depth h4{
    border-bottom: 1px solid #4f2987;
    color: #4f2987;
}
nav .sub_menu .sec_depth h4, nav .sub_menu .sec_depth ul li{
    padding: 0 50px;
    font-size: 14px;
}
nav .sub_menu .sec_depth ul li:hover a{
    border-bottom: 2px solid #0b1117;
}
nav .menu_flex{
    max-height: 612px;
    width: 840px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav .menu_flex .sec_depth{
    height: 50%;
}
nav .menu_flex .sec_depth:nth-child(1), nav .menu_flex .sec_depth:nth-child(2){
    height: 100%;
}
/* 태블릿 크기 부터는 호버가 아닌 클릭으로! */
@media screen and (min-width: 1025px){
    nav .main_manu > li:hover{
        background: #4f2987 url(../img/img-index/menu_arrow.png) no-repeat center 100%;
    }
    nav .main_manu > li:hover > a{
        color: #fff8ff;
    }
    nav .main_manu > li:hover .sub_menu{
        display: block;
    }
}
@media screen and (max-width:1290px){
    /* 헤더 */
    .topside_wrap .search{
        margin: 26px 0 0 5vw;
        
    }
    .topside_wrap .search input{
        width: 39.92vw;
    }
    .top_menu li{
        margin-right: 20px;
    }   
}
/**************** 태블릿 ****************/
@media screen and (max-width:1024px){
    /* 헤더 */
    header{
        height: auto;
    }
    .topside_wrap h1{
        margin-top: 0;
    }
    .topside_wrap h1 img{
        width: min(20.729vw, 199px);
        min-width: 150px;
    }
    .topside_wrap .search{
        margin: 10px 0 0 27px;
    }
    .topside_wrap .search input{
        border: 1px solid #4f2987;
        width: 49.441vw;
    }
    .topside_wrap .search a{
        background: url(../img/img-index/search_tablet.png) no-repeat center;
        right: 0;
    }

    .top_menu{
        bottom: 6px;
    }
    .top_menu li{
        width: 30px;
        height: 30px;
        margin-right: 1vw;
    }
    .top_menu li:nth-child(1){
        background: url(../img/img-index/login.png) no-repeat center;
    }
    .top_menu li:nth-child(2){
        background: url(../img/img-index/mypage.png) no-repeat center;
    }
    .top_menu li:nth-child(3){
        background: url(../img/img-index/cs.png) no-repeat center;
    }
    .top_menu li:nth-child(4){
        background: url(../img/img-index/cart_tablet.png) no-repeat center;
    }
    .top_menu li a{
        text-indent: -99999px;
        overflow: hidden;
        font-size: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    .top_menu li a:hover{
        border-bottom: initial
    }
    nav .main_manu{
        display: flex;
        justify-content: space-between;
    }
    nav .main_manu > li.click{
        background: #4f2987 url(../img/img-index/menu_arrow.png) no-repeat center 100%;
    }
    nav .main_manu > li.click > a{
        color: #fff8ff;
    }
    nav .main_manu > li:nth-child(1){
        order: 0;
    }nav .main_manu > li:nth-child(2){
        order: 1;
    }nav .main_manu > li:nth-child(3){
        order: 2;
    }nav .main_manu > li:nth-child(4){
        order: 3;
    }nav .main_manu > li:nth-child(5){
        order: 4;
    }nav .main_manu > li:nth-child(6){
        order: 5;
    }nav .main_manu > li:nth-child(7){
        order: 6;
    }nav .main_manu > li:nth-child(8){
        order: 9;
    }nav .main_manu > li:nth-child(9){
        order: 8;
    }nav .main_manu > li:nth-child(10){
        order: 7;
    }
    nav .main_manu > li> a{
        padding: 0 5px;
    }
    nav .main_manu > li .sub_menu{
        left: 0;
        width: 100%;
    }

}
/***** 중간 단계 *****/

@media screen and (max-width:760px){
    /* nav가 슬라이드로 열리면서 생기는 가로 스크롤 없애기 */
    body{
        overflow-x: hidden;
    }
    /* 헤더 */
    header{
        overflow: hidden;
    }
    header.scroll nav{
        display: block;
    }
    header.on{
        overflow: visible;
    }
    header .inner{
        width: auto;
    }
    header .topside_wrap{
        margin: 0;
        padding: 17px 18px;
    }  
    .topside_wrap h1{
        margin-top: 10px;
    }
    .topside_wrap h1 img{
        min-width: 120px;
    }
    .topside_wrap .search{
        margin: 10px 0 0 4vw;
    }
    .topside_wrap .search input{
        width: 48.441vw;
    }

    .top_menu{
        display: none;
    }
    .hamburger_btn{
        position: absolute;
        right: 18px;
        top: 45%;
        transition: all 0.3s;
    }
    .hamburger_btn.on{
        height: 19px;
        background: url(../img/img-index/x.png) no-repeat top center;
        cursor: pointer;
        z-index: 9;
    }
    .hamburger_btn span{
        display: block;
        width: 20px;
        height: 2px;
        background: #4f2987;
        margin-bottom: 5px;
    }
    .hamburger_btn.on span{
        height: 0;
    }
   
    /* 네비게이션 */
    nav{
        background: #fff;
        height: 100vh;
        position: absolute;
        overflow: auto; /*햄버거 메뉴가 열렸을 때 스크롤이 안되는 것을 되도록 함*/
        top: 0;
        right: -100%;
        margin-top: 0;
        transition: all 0.3s; 
    }
    nav.on{
        right: 0;
    }
    nav::before{
        content: '';
        display: block;
        height: 84px;
        cursor: pointer;
    }
    nav .main_manu{
        display: block;
    }
    nav .main_manu > li{
        float: none;
    }
    nav .main_manu > li.click{
        background: initial;
    }
    nav .main_manu > li.click > a{
        color: initial;
        border-bottom: 1px solid #7b7b7b;
    }
    nav .main_manu > li:nth-last-child(1), nav .main_manu > li:nth-last-child(2), nav .main_manu > li:nth-last-child(3){
        float: none;        
    }
    nav .main_manu > li> a{
        display: block;
        padding: 17px 18px;
        border-top: 1px solid #7b7b7b;
        background: url(../img/img-index/+.png) no-repeat 97% center;
        border-bottom: 0;
    }

    nav .main_manu > li:nth-last-child(1)> a, nav .main_manu > li:nth-last-child(2)> a, nav .main_manu > li:nth-last-child(3)> a{
        
        background: none;
    }
    nav .main_manu > li .sub_menu{
        display: none;
        position: static;
        border: none;
    }
    nav .sub_menu .sec_depth{
        text-align: left;
        width: 48%;
        height: auto;
        margin: 20px 0;
    }
    nav .sub_menu .sec_depth h4, nav .sub_menu .sec_depth ul li{
        padding: 0 0 0 18px;
    }
    nav .sub_menu .sec_depth h4{
        border: 0;
        font-size: 16px;
    }
    nav .sub_menu .sec_depth ul li{
        font-weight: 400;
    }
    nav .menu_flex{
        width: auto;
    }
    /* 국내도서 */
    nav .main_manu > li:nth-child(1) .sub_menu .sec_depth:nth-child(1),  nav .main_manu > li:nth-child(1) .sub_menu .sec_depth:nth-child(2){
        height: 320px;
    }
    /*****end*****/

    /* 국외도서 */
     nav .menu_flex .sec_depth:nth-child(1), nav .menu_flex .sec_depth:nth-child(2){
        height: 600px;
    }
    nav .menu_flex .sec_depth:nth-child(4){
        height: 228px;
    }
    nav .menu_flex{
        display: block;
    }
    /****end******/

    /* 중고샵 */
    nav .main_manu > li:nth-child(5) .sub_menu .sec_depth:nth-child(2){
        height: 190px;
    }
    /****end******/
    nav .swiper-wrapper{
        margin-left: 18px;
    }
    
    /* 탑메뉴 -> 하단 바 */
    .top_menu{
        position: fixed;
        display: block;
        width: 100%;
        height: 40px;
        background: #fff;
        box-shadow: 0 1px 4px 0 grey;
        bottom: 0;
        padding: 5px 0;
    }
    
    .top_menu li, .top_menu li:last-child{
        margin: 0px auto;
        width: 25%;
    }

}
/**************** 모바일 ****************/
@media screen and (max-width:412px){
    /* 헤더 */
    header .topside_wrap{
        padding: 10px 18px;
    }
    .search a{
        background-size: 18px;
    }
    .topside_wrap h1{
        margin-top: 0;
    }
    .topside_wrap h1 a{
        background: url(../img/img-index/logo_moblie.png) no-repeat;
        width: 50px;
        height: 30px;
        background-size: 50px;
    }
    .topside_wrap h1 img{
        display: none;
    }
    .topside_wrap .search{
        margin: 0 0 0 1.88vw;
    }
    .topside_wrap .search input{
        height: 31px;
        font-size: 15px;
        text-indent: 10px;
        width: 57.5242vw;
    }
    .hamburger_btn{
        top: 18px;
    }
    nav::before{
        height: 51px;
    }
 
}
