
.join_from_inner{
    max-width: 878px;
    width: calc(100% - 36px);
    margin: 0 auto;
}
section h4{
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 20px 30px;
    border-bottom: 1px solid #4f2987;
    margin-bottom: 20px;
    
}
/* 약관동의 */
#terms a{
    display: block;
    text-indent: 31px;
    margin-left: 31px;
}
#terms a:nth-child(3), #terms a:nth-child(4), #terms a:nth-child(5){
    background: url(../img/img-join/showContents.png) no-repeat;
    width: auto;
    background-size: 8px;
    margin-bottom: 22px;
}
#terms a:nth-child(3){
    background-position: 182px 9px;
}
#terms a:nth-child(4){
    background-position: 199px 9px;
}
#terms a:nth-child(5){
    background-position: 236px 9px;
}
.checked{
    background-position: 0 -20px;
}
/* 선택 동의항목 */
section:nth-child(2) p{
    margin-bottom: 22px;
    margin-left: 53px;
}
.check_list{
    margin-left: 53px;
}

/* 기본정보 입력 */
form{
    max-width: 495px;
    margin: 0 53px 0;
}
form div:not(div:nth-child(8)){
    margin-bottom: 28px;
}

form label{
    display: block;
    position: relative;
    margin-bottom: 20px;
}
form label::before{
    content: '*';
    display: block;
    position: absolute;
    top: 3px;
    left: -10px;
    color: #4f2987;
}
form input{
    border: 1px solid #7d7d7d;
    width: calc(100% - 11px);
    height: 38px;
    margin: 0 0 10px 10px;
}
form div:nth-child(2) input, form div:nth-child(7) input:nth-child(2), form div:nth-child(8) input:nth-child(2){
    width: calc(70% - 10px);
}
form div:nth-child(2) button, form div:nth-child(7) button, form div:nth-child(8) button{
    width: calc(30% - 14px);
    background-color: #fff;
    border: 1px solid #65c3d3;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}
form div:nth-child(2) button:hover, form div:nth-child(7) button:hover, form div:nth-child(8) button:hover{
    background: #65c3d3;
    color: #fff8ff;
}
form div:nth-child(6) input{
    width: 47%;
}form div:nth-child(6) select{
    width: 46%;
    height: 38px;
    border: 1px solid #7d7d7d;
    border-radius: 0;
}
form div:nth-child(7) input:last-child{
    text-indent: 10px;
}
form div:last-child{
    margin-top: 48px;
}
#submit{
    width: 495px;
    height: 38px;
    background: #65c3d3;
    color: #fff8ff;
    border: 0;
    margin: 0 0 65px 53px;
}


.choice_label::before{
    display: none;
}
/* 가입하기 위 구분선 */
form+.blind{
    margin: 48px 0;
    border-top: 1px solid #4f2987;
}

/* 760px */
@media screen and (max-width: 760px){
    section h4{
        padding: 0 0 20px 0;
    }
    .check_list{
        margin-left: 0;
    }
    #terms a{
        margin-left: 0;
    }
    section:nth-child(2) p{
        margin-left: 0;
    }
    form{
        margin: 0 0 0 13px;

    }
    form input{
        margin-left: 0;
        width: 100%;
    }
    .data_none{
        margin: 10px 0;
        font-size: 14px;
    }
    form div:nth-child(2) button, form div:nth-child(7) button, form div:nth-child(8) button{
        font-size: 1.8421vw;
        width: calc(30% - 4px);
    }
    #submit{
        margin: 0 0 65px 13px;
        width: calc(100% - 13px);
        max-width: 495px;
    }
}
/* 412px */
@media screen and (max-width: 412px){
    form div:nth-child(6) input{
        width: 100%;
    }
    form div:nth-child(6) select{
        width: calc(100% - 26px);
        margin-bottom: 10px;
    }
    form div:nth-child(2) input, form div:nth-child(7) input:nth-child(2), form div:nth-child(8) input:nth-child(2){
        width: 100%;
    }
    form div:nth-child(2) button, form div:nth-child(7) button, form div:nth-child(8) button{
        font-size: 14px;
        margin-left: 0;
        width: 100%;
        margin-bottom: 10px;
    }

}