/* 1920 -> 1290 ->  1024 ->  760 -> 412 */
/***** 중간 단계 *****/
@media screen and (max-width:1290px){
    /* 헤더 */
    .topside_wrap .search{
        margin: 26px 0 0 5vw;
        
    }
    .topside_wrap .search input{
        width: 39.92vw;
    }
    .top_menu li{
        margin-right: 20px;
    }
    /* 화제의 책 소식 */
    #book_news .swiper-slide{
        padding: 0;
    }
    /* 추천책 */
    #recom_book h2{
        margin-left: 0;
    }
    /* top10 */
    #top10 .inner{
        padding: 0;
    }
   
}



/**************** 태블릿 ****************/
@media screen and (max-width:1024px){
    /* 공통 */
    section:not(#main_visual, #mv_btn){
        margin-top: 60px;
    }
    section h2:not(#aladin_tv .section_title){
        margin-bottom: 30px;
    }
    .book_title {
        margin-top: 18px;
    }
    /* 헤더 */
    header{
        height: auto;
    }
    .topside_wrap h1{
        margin-top: 0;
    }
    .topside_wrap h1 img{
        width: min(20.729vw, 199px);
        min-width: 150px;
    }
    .topside_wrap .search{
        margin: 10px 0 0 27px;
    }
    .topside_wrap .search input{
        border: 1px solid #4f2987;
        width: 49.441vw;
    }
    .search a{
        background: url(../img/search_tablet.png) no-repeat center;
        right: 0;
    }

    .top_menu{
        bottom: 6px;
    }
    .top_menu li{
        width: 30px;
        height: 30px;
        margin-right: 1vw;
    }
    .top_menu li:nth-child(1){
        background: url(../img/login.png) no-repeat;
    }
    .top_menu li:nth-child(2){
        background: url(../img/mypage.png) no-repeat;
    }
    .top_menu li:nth-child(3){
        background: url(../img/cs.png) no-repeat;
    }
    .top_menu li:nth-child(4){
        background: url(../img/cart_tablet.png) no-repeat;
    }
    .top_menu li a{
        text-indent: -99999px;
        overflow: hidden;
        font-size: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    .top_menu li a:hover{
        border-bottom: initial
    }
    nav .main_manu{
        display: flex;
        justify-content: space-between;
    }

    nav .main_manu > li> a{
        padding: 0 5px;
    }
    nav .main_manu > li:hover .sub_menu{
        width: 100%;
    }
    nav .sub_menu{
        left: 0;
    }
    /* 퀵메뉴 */
    .quickmenu{
        bottom: 5%;
        display: none; /*나중에 코딩하기*/
    }


    /* 메인 비주얼 */
    #main_visual > .inner{
        position: relative;
    }
    .swiper-horizontal>.swiper-scrollbar{
        bottom: 18px;
        background: #9e9e9e;
        border-radius: 0;
    }
    .swiper-scrollbar-drag{
        background: #4f2987;
        border-radius: 0;
    }


    /* 메인비주얼 하단 버튼 */
    #mv_btn div{
        height: 40px;
    }
    #mv_btn ul::before, #mv_btn ul::after{
        content: '';
        display: block;
        position: absolute;
        /* border: 1px solid #4f2987; */
        height: 2px;
        background: #4f2987;
    }
    #mv_btn ul::before{
        width: calc(50% - 321px); /*550에서 -8(-2를 4번한 값)의 반인 271px*/
        left: 0;
    }
    #mv_btn ul::after{
        width: calc(50% - 319px); /*#mv_btn ul li에서 margin-left: -2px;한 만큼 after에서 -2만큼 더 빼주어야 함*/
        right: 0;
    }
    #mv_btn ul li{
        background-size: 130px 30px;
        width: 130px;
        height: 30px;
        line-height: 26px;
    }
    #mv_btn ul li.active{
        background-size: 130px 40px;
        width: 130px;
        height: 40px;
        flex-wrap: wrap; /* 412화면에서 글씨 잘리는거 해결*/
    }
    /* 쿠폰 */
    #coupon .inner{
        /* padding:  0 12.109375vw; */
        display: flex;
        justify-content: center;
    }
    #coupon .inner a{
        height: 100px;
        margin-right: 7vw;
    }
    #coupon .inner a img{
        margin: 8px 0;
    }
    #coupon .inner a p{
        display: block;
        line-height: 1.25;
        margin-left: 0;
    }
    #coupon .inner a p br{
        display: block;
    }
    /* 화제의 책 소식 */
    #book_news h2{
        padding-left: 0;
    }
    #book_news .swiper-slide{
        background: #65c3d3;
        border-radius: 30px;
        height: auto;
        padding: 2.6vw 5vw;
    }

    #book_news a{
        display: flex;
        flex-direction: column-reverse;
    }
    #book_news .txt{
        width: auto;
    }
    #book_news .txt p:first-child{
        font-size: 17px;
        padding-top: 20px;
    }
    #book_news .txt p:first-child br{
        display: none;
    }
    #book_news .txt p:last-child{
        font-size: 16px;
        padding-top: 20px;
    }
    #book_news .txt p:last-child br{
        display: none;
    }
    #book_news img{
        width: 100%;
    }
    #book_news .swiper-slide-active{
        z-index: 1;
        /* height: 593px; */
    }
    /* 추천책 */
    #recom_book .swiper{
        margin: 0;
    }
    /* 1024에서 화살표 버튼 안보임 */
    .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
    }

    /* top10 */
    .top1to10 li{
        width: calc(25% - 201px/4);
    }
    .top1to10 li, .top1to10 li:nth-child(5){
        margin-right: 66px;
    }
    .top1to10 li:last-child,.top1to10 li:nth-last-child(2){
        display: none;
    }
    .top1to10 li:nth-child(1),.top1to10 li:nth-child(5){
        margin-left: 0;
    }
    .top1to10 li:nth-child(4),.top1to10 li:nth-child(8){
        margin-right: 0;
    }
    

    /* 알라디너tv */
    .aladin_tv_contents a::before{
        background-size:  68px 47px;
        width: 68px;
        height: 47px;
    }
    /* divide */
    .divide{
        margin-top: 60px;
    }
    
}


/***** 중간 단계 *****/

@media screen and (max-width:760px){
    /* 공통 */
    .book_title{
        margin-top: 10px;
        font-size: 14px;
    }
    .book_sub{
        display: none;
    }
    .section_title{
        font-size: 20px;
    }

    /* 헤더 */
    header .inner{
        width: auto;
    }
    header .topside_wrap{
        margin: 0;
        padding: 17px 18px;
    }  
    .topside_wrap h1{
        margin-top: 10px;
    }
    .topside_wrap h1 img{
        min-width: 120px;
    }
    .topside_wrap .search{
        margin: 10px 0 0 6vw;
        /* 마진 탑 2px */
    }
    .topside_wrap .search input{
        width: 48.441vw;
    }

    .top_menu li{
        display: none;
    }
    .hamburger_btn{
        position: absolute;
        right: 18px;
        top: 45%;
        /* 탑 36px */
    }
    .hamburger_btn span{
        display: block;
        width: 20px;
        height: 2px;
        background: #4f2987;
        margin-bottom: 5px;
    }
    nav {
        display: none;
    }
    nav .swiper-wrapper{
        margin-left: 18px;
    }
    /* 메인 비주얼 */
    #main_visual{
        display: flex;
        flex-direction: column-reverse;
        border-bottom: 2px solid #4f2987;
        border-radius: 0 0 30px 30px;
    }   
    #main_visual .mv{
        padding: 27px 0 60px;
    }

    /* 메인 비주얼 하단 버튼 */
    #mv_btn{
        border: 0;
        margin-top: 28px;
    }     
    #mv_btn ul{
        overflow: initial;
    }
    #mv_btn ul::before, #mv_btn ul::after{
        display: none;
    }
    #mv_btn ul li{
        border: 0;
        margin-top: 0;

    }
    #mv_btn ul li.active a{
        border-bottom: 2px solid #0b1117;
        padding: 0 10px;
    }

    /*사은품*/
    #main_visual .mv> li .gift{
        top: 55%;
      /* 450px에서 찌그러지는건 li or a의 너비를 고정하면 될것 같은뎅... */
    }
    #main_visual .mv> li .gift span{
        padding: 5px 2.631vw;
    }
    #main_visual .mv>li .gift .gift_img{
        padding: 4px 0 0 0;
    }
    #main_visual .mv>li .gift .gift_img img{
        height: 50px;
    }

    /* 쿠폰 */
    #coupon .inner a p{
        font-size: 2.2vw;
    }
    /* 화제의 책 소식 */
    #book_news .swiper{
        height: 70.6315vw; /*얼추 잡아준 높이*/
    }
    #book_news .swiper-slide{
        background: none;
        padding: 0;
        
    }
    #book_news .txt{
        position: absolute;
        background: #fff;
        border-radius: 0 0 15px 15px;
        clear: both;
        padding: 20px 15px;
    }
    #book_news .txt p:first-child{
        padding-top: 0;
    }
    #book_news img{
        border-radius: 15px;
        box-shadow: 0 20px 15px 0 gray;
    }
    /* 추천책 */
    #recom_book .swiper-slide{
        border: none;
    }
    #recom_book .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: -11px;
    }
    /* top10 */
    #top10 .section_title{
        background: url(../img/viewmore_arrow.png) no-repeat center right;
        background-size: 12px 24px;
        cursor: pointer;
    }
    .btn_wrap .viewmore{
        display: none;
    }
    .top1to10 li,.top1to10 li:nth-child(5){
        margin-right: 67px;
    }
    
    /* 알라디너tv */
    .aladin_tv_contents a .book_title+span{
        font-size: 14px;
    }
    .aladin_tv_title{
        background: url(../img/viewmore_arrow.png) no-repeat center right;
        background-size: 12px 24px;
        cursor: pointer;
    }
    .aladin_tv_title .viewmore{
        display: none;
    }
    /* 1월의 알라딘 */
    .month_event li{
        margin-bottom: 63px;
        background-position: center;
        border-radius: 16px;

    }
    .month_event li:nth-child(1){
        background-position: 0;
        background-size: cover;
    }
    .month_event li:nth-child(2){
        background-position: 0;
        background-size: cover;
    }
    .month_event li:nth-child(3){
        background-size: cover;
    }
    .month_event li:nth-child(4){
        background-position: -70px -88px;
    }
    .month_event li:nth-child(5){
        background-size: cover;
    }
    .month_event li:nth-child(6){
        background-size: cover;
    }
    .month_event li:nth-child(7){
        background-position: 0;
        background-size: cover;
    }
    .month_event li:nth-child(8){
        background-size: cover;
    }
    .month_event li a{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 30px;
        left: 0;
        top: 0;
    }
    .month_event li span{
        color: #0b1117;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        line-height: 1.21;
    }

}

@media screen and (max-width:665px){
    /* 메인비주얼 하단 버튼 */
    #mv_btn ul{
        justify-content: start;
    }

    /* 화제의 책 p태그 */
    #book_news .txt p:last-child{
        display: none;
    }
    /* top10 */
    .rank3{
        display: none;
    }
    .top1to10 li, .top1to10 li:nth-child(5) {
        margin-right: 0;
    } /*이전 화면까지 적용되던 margin-right 제거*/
    .top1to10 li{
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 13px 25px;
    }
    .top1to10 li:nth-child(-n+5) a span{
        margin-bottom: 0;
    }
    .top1to10 li:nth-child(1), .top1to10 li:nth-child(2){
        float: left;
        width: calc(50% - 50px/2);
        margin-bottom: 10px;
    } 
    .top1to10 li:nth-child(1){
        margin-right: 7.8vw;
    }
    .top1to10 li:nth-child(3){
        clear: both;
    }
    .top1to10 li:nth-child(3), .top1to10 li:nth-child(4), .top1to10 li:nth-child(5){
        float: none;
        width: 100%;
        margin-top: 10px;
        text-align: left;
    }
    .top1to10 li:nth-child(3) a, .top1to10 li:nth-child(4) a, .top1to10 li:nth-child(5) a{
        /* display: flex;
        width: 80%; */
        position: relative;
    }
    .top1to10 li:nth-child(3) a .book_title::before,.top1to10 li:nth-child(4) a .book_title::before, .top1to10 li:nth-child(5) a .book_title::before{
        display: block;
        width: 30px;
        height: 17px;
        background: #ffe016;
        text-align:center;
        line-height: 17px;
    }
    .top1to10 li:nth-child(3) a .book_title::before{
        content: "3";
    }
    .top1to10 li:nth-child(4) a .book_title::before{
        content: "4";
    }
    .top1to10 li:nth-child(5) a .book_title::before{
        content: "5";
    }
    .top1to10 li:nth-child(3) a .book_title,.top1to10 li:nth-child(4) a .book_title,.top1to10 li:nth-child(5) a .book_title{
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
    }
    .top1to10 li:nth-child(3) a img,.top1to10 li:nth-child(4) a img,.top1to10 li:nth-child(5) a img{
        width: 40%;
    }
    .top1to10 li:nth-last-child(3),.top1to10 li:nth-last-child(4),.top1to10 li:nth-last-child(5){
        display: none;
    }
    /* 알라디너tv */
    .aladin_tv_contents div{
        float: none;
        width: 100%;
    }
    .aladin_tv_contents div:last-child{
        margin-top: 17px;
    }
    .aladin_tv_contents div h5{
        display: none;
    }
    /* 1월의 알라딘 */
    .month_event li span{
        font-size: 14px;
    }
    .month_event li span br{
        display: block;
    }
}

/**************** 모바일 ****************/
@media screen and (max-width:412px){
    /* 공통 */
    
    /* 헤더 */
    header .topside_wrap{
        padding: 10px 18px;
    }
    .search a{
        background-size: 18px;
    }
    .topside_wrap h1{
        margin-top: 0;
    }
    .topside_wrap h1 a{
        background: url(../img/logo_moblie.png) no-repeat;
        width: 70px;
        height: 30px;
    }
    .topside_wrap h1 img{
        display: none;
    }
    .topside_wrap .search{
        margin: 0 0 0 3.88vw;
    }
    .topside_wrap .search input{
        height: 31px;
        font-size: 15px;
        text-indent: 10px;
        width: 57.5242vw;
    }
    .hamburger_btn{
        top: 18px;
    }
    
    /* 쿠폰 */
    #coupon .inner{
        width: 100%;
    }
    #coupon .inner a{
        width: 128px;
        border-radius: 0;
    }
    #coupon .inner a p{
        font-size: 3.398vw; /*14px*/
    }
     /*사은품*/
     #main_visual .mv> li .gift{
        top: 55%;
        left: 60%
    }
    /* 화제의 책 소식 */
    #book_news .txt p:first-child{
        font-size: 14px;
    }
    /* top10 */
    #top10 .section_title{
        background-size: 8px 16px;
    }
    .top1to10 li:nth-child(1){
        margin-right: 7px;
    }
    .top1to10 li:nth-child(1), .top1to10 li:nth-child(2){
        width: calc(50% - 7px/2);
    }
    /* 알라디더tv */
    .aladin_tv_title{
        background-size: 8px 16px;
    }
    .aladin_tv_contents a::before{
        width: 50px;
        height: 35px;
        background-size: 50px 35px;
    }
    /* 1월의 알라딘 */
    .month_event li{
        width: 60px;
        border-radius: 30px;
        margin-right: 40px;
    }
    .month_event li::after{
        border-radius: 30px;
    }
    .month_event li span{
        width: 100px;
    }
}

/* 398px  이벤트 부분 */
@media screen and (max-width : 399px){
    .month_event{
        flex-wrap: nowrap;
    }
    .month_event li:nth-child(4n){
        margin-right: 40px;
    }
    .month_event li:nth-child(3n){
        margin-right: 0;
    }
}