.dim{
    background : rgba(0, 0, 0, 0.7);
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 9999;
}
#pop_up{
    background: #2F83D9;
    border-radius: 15px;
    display: none;
    position: absolute;
    width: 947px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.popUp_inner{
    max-width: 100%;
    width: calc(100% - 40px);
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
.popUp_inner div:first-child{
    padding: 30px 0;
    position: relative;
}
.popUp_inner .title{
    color: #FFEF00;
    font-size: 40px;
    font-weight: 700;
    width: 345px;
    width: auto;

}
.popUp_inner .sub{
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
}
.popUp_inner img:nth-child(3){
    left: 411px;
    bottom: 27px;
    position: absolute;
    width: 28%;
}
.popUp_inner img:nth-child(4){
    position: absolute;
    width: 35%;
    top: 30px;
    right: 0;
    z-index: -9;
    box-shadow: 7px 5px 20px 0px rgba(0, 0, 0, 0.53);
}
.popUp_inner .alret{
    display: inline-block;
    margin: 10px 0;
}
.popUp_inner div:nth-child(3){
    display: inline-block;
    float: right;
    margin: 10px 0;

}
.popUp_inner div:nth-child(3) span{
    padding-left: 25px;
    background: url(../img/pop-up/close.png) no-repeat left center;
    margin-right: 20px;
    font-size: 14px;
}
.popUp_inner div:nth-child(3) span:last-child{
    margin-right: 0;
    border: 2px solid #4f2987;
}